/* from https://codepen.io/Hyperplexed/pen/zYXZoZg */
:root {
  --glow-rgb: 30 30 46;
  
  --light-gold-rgb: 49 50 68;
  --dark-gold-rgb: 30 30 46;
  
  --primary-stripe-rgb: 17 17 27;
  --secondary-stripe-rgb: 24 24 37;
}

#background, #star-container, #star-pattern, #star-gradient-overlay, #stripe-container, #stripe-pattern {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

#background {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#star-container {
  background: radial-gradient(rgb(var(--light-gold-rgb)), rgb(var(--dark-gold-rgb)));
  height: 100%;  
  overflow: hidden;
  position: relative;
}

#star-pattern {
  background-image: url("assets/StarPattern3.svg");
  background-size: 10%;  
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  z-index: 1;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  opacity: 0.10;
  animation: pan 180s linear infinite;
  will-change: background-position;
}

#star-gradient-overlay {
  background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb)));
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 2;
}

#stripe-container {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 0px;
  translate: -50% 0%;
  height: 28vh;
  min-height: 240px;
  width: 100%;
  min-width: 2000px;
  background-color: rgb(var(--stripe-primary-rgb));
  
  clip-path: polygon(
    0% 5%, 1.25% 0%, 2.5% 5%, 
    3.75% 0%, 5% 5%, 6.25% 0%, 
    7.5% 5%, 8.75% 0%, 10% 5%, 
    11.25% 0%, 12.5% 5%, 13.75% 0%, 
    15% 5%, 16.25% 0%, 17.5% 5%, 
    18.75% 0%, 20% 5%, 21.25% 0%, 
    22.5% 5%, 23.75% 0%, 25% 5%, 
    26.25% 0%, 27.5% 5%, 28.75% 0%, 
    30% 5%, 31.25% 0%, 32.5% 5%, 
    33.75% 0%, 35% 5%, 36.25% 0%, 
    37.5% 5%, 38.75% 0%, 40% 5%, 
    41.25% 0%, 42.5% 5%, 43.75% 0%, 
    45% 5%, 46.25% 0%, 47.5% 5%, 
    48.75% 0%, 50% 5%, 51.25% 0%, 
    52.5% 5%, 53.75% 0%, 55% 5%, 
    56.25% 0%, 57.5% 5%, 58.75% 0%, 
    60% 5%, 61.25% 0%, 62.5% 5%, 
    63.75% 0%, 65% 5%, 66.25% 0%, 
    67.5% 5%, 68.75% 0%, 70% 5%, 
    71.25% 0%, 72.5% 5%, 73.75% 0%, 
    75% 5%, 76.25% 0%, 77.5% 5%, 
    78.75% 0%, 80% 5%, 81.25% 0%, 
    82.5% 5%, 83.75% 0%, 85% 5%, 
    86.25% 0%, 87.5% 5%, 88.75% 0%, 
    90% 5%, 91.25% 0%, 92.5% 5%, 
    93.75% 0%, 95% 5%, 96.25% 0%, 
    97.5% 5%, 98.75% 0%, 100% 5%, 
    100% 100%, 0% 100%
  );
}

#stripe-pattern {
  height: 100%;
  width: 100%;
  background-size: 18px 18px;
  background-image: linear-gradient(
    -45deg,
    rgb(var(--primary-stripe-rgb)) 25%,
    rgb(var(--secondary-stripe-rgb)) 25%,
    rgb(var(--secondary-stripe-rgb)) 50%,
    rgb(var(--primary-stripe-rgb)) 50%,
    rgb(var(--primary-stripe-rgb)) 75%,
    rgb(var(--secondary-stripe-rgb)) 75%,
    rgb(var(--secondary-stripe-rgb)) 100%
  );
  box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
  animation: pan 360s linear infinite;
}

/* other stuff */

@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	src: url("firaCode.ttf") format("truetype");
}

.ff  { background: hsla(  0, 100%, 50%, 0.7); transform: rotateY(  0deg) translateZ(106px); }
.fl  { background: hsla( 60, 100%, 50%, 0.7); transform: rotateY(-90deg) translateZ(106px); }
.fr  { background: hsla(120, 100%, 50%, 0.7); transform: rotateY( 90deg) translateZ(106px); }
.fba { background: hsla(180, 100%, 50%, 0.7); transform: rotateY(180deg) translateZ(106px); }
.ft  { background: hsla(240, 100%, 50%, 0.7); transform: rotateX( 90deg) translateZ(106px); }
.fbt { background: hsla(300, 100%, 50%, 0.7); transform: rotateX(-90deg) translateZ(106px); }

.cf {
	position: absolute;
	border-radius: 0 !important;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: #cdd6f4;
	line-height: 200px;
}

a { color: #74c7ec; }
.navText { margin: 0; }
.noMargin { margin: 0; }
.hide { display: none; }
.subSection h4 { margin: 0; }
a:visited { color: #b4befe; }
.imageCaption { padding: 5px; }
#content { margin-left: 155px; }
select:hover { border-color: #f5c2e7; }
button:hover { border-color: #f5c2e7; }
#boxShadowDemoSliders > div > input { width: 90%; }
.section img:hover { box-shadow: rgba(0,0,0,0.5) 5px 5px 10px; }

.section {
	text-align: center;
	margin-top: -99vh;
	position: fixed;
	z-index: 10;
	margin-left: 5px;
	margin-right: 5px;
	height: 99vh;
	overflow: auto;
	width: 95.5vw;
}

body {
	margin: 0px;
	font-family: 'Fira Code', monospace;
	background-color: #1e1e2e;
	color: #cdd6f4;
}

.navHead {
	color: #a6adc8;
	padding: 5px 5px 10px;
}

.navHead img {
	display: flex;
	flex-wrap: wrap;
	height: 30px;
	border-radius: 15px;
	margin-left: -10px;
}

.navHead h2 {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	position: fixed;
	top: 16px;
	left: 47px;
	cursor: default;
}

.navMain {
	position: fixed;
	top: 0;
	left: 0;
	width: 140px;
	height: 100%;
	padding: 10px 0 0 15px;
	background-color: #181825;
}

.navButton {
	color: #a6adc8;
	padding: 5px;
	margin: 0 5px 10px 0;
	border-radius: 10px;
	transition: all .2s;
}

.navButton:hover {
	background-color: #f5c2e7;
	color: #45475a;
	cursor: default;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

#mainpfp {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 278px;
	border-radius: 20px;
}

.section img {
	border-radius: 10px;
	transition: all .2s;
	max-width: 90%;
}

.subSection {
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,0);
	padding: 10px;
	transition: all .5s;
	margin-bottom: 10px;
}

.subSection:hover {
	background-color: #11111b;
	border: 3px solid #45475a;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.center img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flexContainer {
	display: flex;
	flex-wrap: wrap;
}

.flexContainer > div {
	margin: 10px;
	padding: 10px;
	width: 100%;
}

.preserveWhitespace {
	white-space: break-spaces;
	text-align: left;
}

#click {
	color: #cdd6f4;
	font-family: 'Fira Code', monospace;
	font-size: 50px;
	background-color: #1e1e2e;
	border: 5px solid rgba(0,0,0,0);
	border-radius: 20px;
	margin: 10px;
	transition: all .5s;
}

#click:hover {
	background-color: #f5c2e7;
	color: #45475a;
	cursor: default;
	border: 5px solid #45475a;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.upgradeButton {
	color: #cdd6f4;
	font-family: 'Fira Code', monospace;
	background-color: #1e1e2e;
	border: 3px solid rgba(0,0,0,0);
	border-radius: 5px;
	margin: 10px;
	transition: all .5s;
}

.upgradeButton:hover {
	background-color: #f5c2e7;
	color: #45475a;
	cursor: default;
	border: 3px solid #45475a;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid .subSection {
	width: 47%;
	border: 3px solid #45475a;
	margin-right: 1%;
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
}

.grid .subSection:hover { border: 3px solid #f5c2e7; }

#borderRadDemo {
	height: 200px;
	width: 200px;
	background-color: #11111b;
	border: 3px solid #ecbebe;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transition: none;
}

#boxShadowDemo {
	height: 200px;
	width: 200px;
	background-color: #11111b;
	border: 3px solid #ecbebe;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transition: none;
}

#rotateDemo {
	position: relative;
	width: 206px;
	height: 206px;
	transform-style: preserve-3d;
	transform: translateZ(-100px);
	top: -3px; left: -3px;
}

#rotDemoContainer {
	width: 206px;
	height: 206px;
	border: 1px solid #CCC;
	perspective: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.demo {
	background-color: #181825;
	border: 3px solid #45475a;
	border-radius: 10px;
	transition: background-color .2s, border .2s;
}

.demo:hover {
	background-color: #11111b;
	border: 3px solid #ecbebe;
}

#flexDemoContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	overflow-x: auto;
}

.flexDemo {
	flex-grow: 1;
	flex-shrink: 1;
	margin: 10px;
	height: fit-content;
	vertical-align: middle;
}

.flexDemo h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.flexDemo p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.flexBox {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 10px;
	height: fit-content;
}

.flexBox h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	background: #1e1e2e;
	border-color: #f5c2e7;
	cursor: pointer;
}

.slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 5px;
	border-radius: 5px;
	background: #45475a;
	outline: none;
}

select {
	background-color: #1e1e2e;
	border: 3px solid #45475a;
	border-radius: 5px;
	color: #cdd6f4;
	font-family: 'Fira Code', monospace;
	padding: 5px;
	margin: 0 5px 10px 0;
	transition: all .2s;
}

button {
	background-color: #1e1e2e;
	border: 3px solid #45475a;
	border-radius: 5px;
	color: #cdd6f4;
	font-family: 'Fira Code', monospace;
	padding: 5px;
	margin: 0 5px 10px 0;
	transition: all .2s;
}

#boxShadowDemoSliders {
	display: flex;
	flex-direction: row;
}

#boxShadowDemoSliders > div {
	margin: 5px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100px;
}

.propDemo {
	height: 206px;
	width: 206px;
	background-color: #11111b;
	border: 3px solid #ecbebe;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transition: none;
}

.demoSliders {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.demoSliders > div {
	margin: 5px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100px;
	transition: all .2s;
	border: 3px solid #00000000;
}

.demoSliders > div:hover {
	background-color: #1e1e2e;
	border: 3px solid #f5c2e7;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	z-index: 100;
}

#hamburger {
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
	transition: all .2s;
	background-color: #181825;
	padding: 0 10px 0 10px;
	border-radius: 0 0 10px 0;
}

#hamburger > .bar {
	width: 40px;
	height: 5px;
	background-color: #cdd6f4;
	margin: 10px 0;
	transition: all .2s;
}

textarea {
	border-radius: 5px;
	border: #45475a 3px solid;
	background-color: #1e1e2e;
	color: #cdd6f4;
	font-family: 'Fira Code', monospace;
	padding: 5px;
}

#textModifierSubmit {
	width: 507.517px;
	margin-left: 5px;
}

.mWidth-50 {
	max-width: 50%;
}

.centerFlexContent {
	justify-content: center;
}

.centerText {
	text-align: center;
}

.fitContent {
	width: fit-content !important;
}

.output {
	border-radius: 5px;
	border: #45475a 3px solid;
	width: fit-content;
  margin-left: auto;
  margin-right: auto;
	padding: 5px;
}

@media screen and (max-width: 600px) {
	.navMain {
		margin-left: -155px;
		height: auto;
		border-radius: 0 0 10px 0;
		transition: all .2s;
	}

	.navHead h2 {
		left: -100px;
		transition: all .2s;
	}

	.subSection {
		background-color: #11111b;
		border: 3px solid #45475a;
		box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	}

	#boxShadowDemoSliders {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#boxShadowDemoSliders > div {
		flex-basis: 45%;
	}

	#hamburger {
		display: block;
	}

	#content {
		margin-left: 0;
	}
}