@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	src: url("firaCode.ttf") format("truetype");
}

a {
	color: #74c7ec;
}

a:visited {
	color: #b4befe;
}

body {
	font-family: 'Fira Code', monospace;
	background-color: #1e1e2e;
	color: #cdd6f4;
}

.navHead {
	color: #a6adc8;
	padding: 5px 5px 10px;
}

.navHead img {
	display: flex;
	flex-wrap: wrap;
	height: 30px;
	border-radius: 15px;
	margin-left: -10px;
}

.navHead h2 {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	position: fixed;
	top: 16px;
	left: 47px;
	cursor: default;
}

.navMain {
	position: fixed;
	top: 0;
	left: 0;
	width: 140px;
	height: 100%;
	padding: 10px 0 0 15px;
	background-color: #181825;
}

.navText {
	margin: 0;
}

.navButton {
	color: #a6adc8;
	padding: 5px;
	margin: 0 5px 10px 0;
	border-radius: 10px;
	transition: all .2s;
}

.navButton:hover {
	background-color: #f5c2e7;
	color: #45475a;
	cursor: default;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

#content {
	margin-left: 155px;
}

#mainpfp {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 278px;
	border-radius: 20px;
}

.section {
	text-align: center;
}

.section img {
	border-radius: 10px;
	transition: all .2s;
}

.section img:hover {
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.subSection {
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,0);
	padding: 10px;
	transition: all .5s;
	margin-bottom: 10px;
}

.subSection:hover {
	background-color: #11111b;
	border: 3px solid #45475a;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.subSection h4 {
	margin: 0;
}

.center img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imageCaption {
	padding: 5px;
}

.flexContainer {
	display: flex;
}

.flexContainer > div {
	margin: 10px;
	padding: 10px;
	width: 100%;
}

.preserveWhitespace {
	white-space: break-spaces;
	text-align: left;
}

.noMargin {
	margin: 0;
}


#click {
	color: #cdd6f4;
	font-family: 'Fira Code', monospace;
	font-size: 50px;
	background-color: #1e1e2e;
	border: 5px solid rgba(0,0,0,0);
	border-radius: 20px;
	margin: 10px;
	transition: all .5s;
}

#click:hover {
	background-color: #f5c2e7;
	color: #45475a;
	cursor: default;
	border: 5px solid #45475a;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.upgradeButton {
	color: #cdd6f4;
	font-family: 'Fira Code', monospace;
	background-color: #1e1e2e;
	border: 3px solid rgba(0,0,0,0);
	border-radius: 5px;
	margin: 10px;
	transition: all .5s;
}

.upgradeButton:hover {
	background-color: #f5c2e7;
	color: #45475a;
	cursor: default;
	border: 3px solid #45475a;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.hide {
	display: none;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid .subSection {
	width: 47%;
	border: 3px solid #45475a;
	margin-right: 1%;
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
}

.grid .subSection:hover {
	border: 3px solid #f5c2e7;
}

#borderRadDemo {
	height: 200px;
	width: 200px;
	background-color: #11111b;
	border: 3px solid #ecbebe;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transition: none;
}